.button {
    background-color: rgb(194, 27, 158);
    color: #ece2f3;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgba(170, 17, 157, 0.8);
    place-self: flex-end;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .button:hover {
    background-color: rgb(201, 130, 211);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(25, 6, 27, 0.4);
  }
  