.header {
  background: url(https://tse3.mm.bing.net/th/id/OIP.CEXI4shf63Pyj7G9Z004JQHaH3?rs=1&pid=ImgDetMain&o=7&rm=3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(170, 17, 157, 0.8);
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  color: linear-gradient(50deg, #b61fc4, #420a4b);
  margin: 0 0 1.5rem 0;
  letter-spacing: -0.025em;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.searchGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.input {
  padding: 8px;
  border: 2px solid #b90b85;
  border-radius: 8px;
}
input:focus {
  outline: none;
  border-color: rgb(95, 16, 160);
  box-shadow: 0 0 3px rgba(59, 130, 246, 0.1);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  background-color: rgb(194, 27, 158);
  color: #ece2f3;
  border-color: #b90b85;
  padding: 8px;
  border: 2px solid rgba(170, 17, 157, 0.8);
  border-radius: 8px;
  place-self: flex-end;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: rgb(201, 130, 211);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(59, 130, 246, 0.4);
}

.clear {
  background-color: rgb(194, 27, 158);
  color: #ece2f3;
  border-color: #b90b85;
  padding: 8px;
  border: 2px solid rgba(170, 17, 157, 0.8);
  border-radius: 8px;
  place-self: flex-end;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.clear:hover {
  background-color: rgb(201, 130, 211);
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(25, 6, 27, 0.4);
}
