.app{
    min-height: 100vh;
    background: linear-gradient(135deg, #f8fafc 0%, #d46ec7 100%);
}

.main{
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width: 768px){
    .main{
        padding: 1rem 0.5rem;
    }
}